body {
    background: white;
    color: black;
    font-size: 20px;
    font-family: "Georgia", "serif";
}

body[data-tags~="detective"] {
	background-color: #f0eaea;
    color: #464545;
}


body[data-tags~="justin"] {
	background-color: rgb(186, 226, 240);
	color: #122b47;
}

body[data-tags~="terry"] {
	background-color: rgb(255, 255, 238);
	color: #5a5310;
}

body[data-tags~="erin"]{
	background-color: #f8e1ff;
	color: rgb(92, 1, 92)
}

body[data-tags~="annie"] {
	background-color: #fff3dd;
	color: #523500
}

body[data-tags~="bram"] {
	background-color: #e2ffd9;
	color: rgb(10, 65, 10);
}

a {
    color: red;
}

a:hover {
    color: darkred;
}

a:active {
    color: darkred;
}

.threecolumn {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
}